@import './reset';
@import './variables';
@import './utilities';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500;1,700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}
.header {
  background-image: url('../images/photo-1552393700-42696fb89bfa.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 958px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__title {
    font-size: 80px;
    line-height: 106px;
    font-weight: bold;
    margin-bottom: 32px;
  }
  &__list {
    display: flex;
  }
}

.about {
  text-align: center;
  &__title {
    font-size: 64px;
    line-height: 84px;
  }
  &__personList {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      background: #000;
      width: 384px;
      height: 1px;
      bottom: 0px;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &__skillList {
    li {
        &::before {
          display: inline-block;
          content: "";
          height: 22px;
          width: 22px;
          background: #891818;
          border-radius: 50%;
          vertical-align: middle;
          margin-right: 16px;
        }
    }
  }
}

.brand {
  text-align: center;
  padding-bottom: 160px;
  &__title {
    font-size: 64px;
    line-height: 84px;
  }
  &__text {
    font-size: 20px;
    line-height: 30px;
  }
  &__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
  }
}

.work {
  text-align: center;
  margin-bottom: 120px;
  &__title {
    font-size: 64px;
    line-height: 84px;
  }
  &__text {
    font-size: 20px;
    line-height: 30px;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
  }
}

.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 64px 0;
  &__title {
    font-size: 64px;
    line-height: 84px;
  }
  &__list {
    a {
      color: #ffffff;
      text-decoration: none;
      &:hover {
        color: #848687;
      }
    }
  }
}